<h2>Get in Touch</h2>
<form action="https://formspree.io/f/myylnqye" method="POST">
    <div class="row g-3">
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
          <label for="email">Email address</label>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="0419 123 456">
          <label for="phone">Phone</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          <select class="form-select" id="find" name="find" aria-label="How Did You Find Me?">
            <option value="Google">Google</option>
            <option value="Bing">Bing</option>
            <option value="DuckDuckGo">DuckDuckGo</option>
            <option value="Mouth">Word of Mouth</option>
            <option value="Other">Other</option>
          </select>
          <label for="floatingSelect">How Did You Find Me?</label>
        </div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Message" id="message" name="message" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Comments</label>
    </div>
    <button class="btn btn-primary btn-lg">Send Email</button>
  </form>