<div class="light-bg">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
    <div class="row row-cols-1 row-cols-sm-2 g-5 py-5">
      <div class="col d-flex align-items-start">
        <div class="pe-4">
          <img src="/assets/img/devices.svg" width="50" height="50">
        </div>
        <div class="">
          <h4 class="fw-bold mb-3">Fully Featured Websites</h4>
          <p>Fully featured websites powered by your preferred content management system or framework. Let Hamish know what you are looking for in a website to receive a <a href="/quote">website design package</a> suited to your requirements.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="pe-4">
          <img src="/assets/img/shopping_basket.svg" width="50" height="50">
        </div>
        <div class="">
          <h4 class="fw-bold mb-3">CMS and eCommerce</h4>
          <p>Hamish develops a range of content management and eCommerce solutions, from basic site content management and editing to amazingly <a href="/services/ecommerce/">powerful eCommerce platforms</a> for selling your goods and services online.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="pe-4">
          <img src="/assets/img/now_widgets.svg" width="50" height="50">
        </div>
        <div class="">
          <h4 class="fw-bold mb-3">Opensource Applications</h4>
          <p>Python and PHP web development founded on rapid development and clean, pragmatic design. Hamish can work with a large number of <a href="/services/content-management-systems/">popular PHP and Python web applications</a> such as WordPress and Wagtail.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="pe-4">
          <img src="/assets/img/speed.svg" width="50" height="50">
        </div>
        <div class="">
          <h4 class="fw-bold mb-3">Fast Site Performance</h4>
          <p>Websites must have solid performance to rank well in search engines. Contact Hamish to have your <a href="/services/performance-optimisation/">website performance optimised</a> and benchmarked for the lowest possible load times and highest Core Web Vitals scores.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  <div class="cta py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
    <h3 class="text-white fs-1 fw-bold">Tasmanian Web Design</h3>
    <p class="col-md-8 text-white lead">Hamish has 20 years of experience and knows what works best for you and your business, from static single page sites to amazingly powerful and flexible e-commerce platforms. Available now for your web design project.</p>
    <a href="/quote/" class="btn btn-light btn-lg">Get Started</a>
    </div>
  </div>
  </div>
</div>
<footer class="py-3">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
  <p class="col-md-5 mb-0 text-muted">Copyright © 2022 <a href="https://hamish.com.au">hamish.com.au</a></p>

  <div class="col-md-2 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <img src="/assets/img/logo.svg" alt="hamish.com.au Logo" width="47" height="40" class="d-inline-block align-text-top">
  </div>

  <ul class="nav col-md-5 justify-content-end">
    <li class="nav-item"><a href="/services/" class="nav-link px-2">Services</a></li>
    <li class="nav-item"><a href="/about/" class="nav-link px-2">About</a></li>
    <li class="nav-item"><a href="/contact/" class="nav-link px-2">Contact</a></li>
    <li class="nav-item"><a href="/quote/" class="nav-link px-2">Quote</a></li>
    <li class="nav-item"><a href="/privacy/" class="nav-link px-2">Privacy</a></li>
    <li class="nav-item"><a href="/legal/" class="nav-link px-2">Legal</a></li>
  </ul>
</div>
</footer>