<header class="p-2 bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand" href="{{ site.url }}">
        <img src="/assets/img/logo.svg" alt="hamish.com.au Logo" width="60" height="52"
          class="d-inline-block align-text-middle">
      </a>

      <ul class="nav col-12 col-lg-auto me-auto justify-content-center primary-ul">

        {% assign links = site.data.navigation %}
        {% for link in links %}
        {% assign class = nil %}
        {% if page.url contains link.url %}
        {% assign class = 'text-secondary' %}
        {% else %}
        {% assign class = 'text-white' %}
        {% endif %}

        {% if link.sublinks %}
        <li>
          <a class="nav-link px-2 dropdown-toggle {{ class }}" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ link.title }}</a>
          <ul class="dropdown-menu">
            {% for sublink in link.sublinks %}
            {% if sublink.title == 'separator' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% else %}
            <li>
              <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li>
          <a class="nav-link px-2 {{ class }}" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title
            }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

      <div class="text-end">
        <a data-savvycal-embed href="https://savvycal.com/hamish" class="btn btn-outline-secondary me-1">Meet Hamish</a>
        <a href="/quote/" class="btn btn-primary ms-1">Get Started</a>
      </div>
    </div>
  </div>
</header>