<h2>Web Design Brief</h2>
<form action="https://formspree.io/f/xnqwjzpe" method="POST">
    <div class="row g-3">
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
          <label for="email">Email address</label>
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phone" name="phone" placeholder="0419 123 456" required>
          <label for="phone">Phone</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          <select class="form-select" id="find" name="find" aria-label="How Did You Find Me?" required>
            <option value="Google">Google</option>
            <option value="Bing">Bing</option>
            <option value="DuckDuckGo">DuckDuckGo</option>
            <option value="Mouth">Word of Mouth</option>
            <option value="Other">Other</option>
          </select>
          <label for="floatingSelect">How Did You Find Me?</label>
        </div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="business" name="business" placeholder="Business Name" required>
      <label for="business">Business Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="domain" name="domain" placeholder="Website URL" required>
      <label for="domain">Website URL</label>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="competitors" id="competitors" name="competitors" style="height: 100px" required></textarea>
      <label for="competitors">Competitors</label>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="target" id="target" name="target" style="height: 100px" required></textarea>
      <label for="target">Target Audience</label>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="website" id="website" name="website" style="height: 100px" required></textarea>
      <label for="website">Website Overview</label>
    </div>
    <button class="btn btn-primary">Request Quote</button>
  </form>