// Placeholder to allow overriding predefined variables smoothly.
// You should be able to override any Bootstrap variable here: https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

$font-family-sans-serif: "Spline Sans", sans-serif;
$link-color: #207567;
$link-hover-color: #00a78b;
$navbar-light-color: #207567;
$navbar-light-hover-color: #00a78b;
$navbar-light-active-color: #00a78b;
$navbar-nav-link-padding-x: 0;
$nav-link-padding-y: 0;
$nav-link-margin-x: 0.5rem;
$nav-link-margin-y: 0.5rem;

.navbar-nav {
    .nav-link {
        margin: $nav-link-margin-y $nav-link-margin-x;
    }

    .show > .nav-link,
    .nav-link.active {
      color: $navbar-light-active-color;
      border-bottom: 2px solid $navbar-light-active-color;
    }
  }