h1, h2, h3, h4, h5, h6 {
  color: #185450;
}

.navbar-nav {
  .nav-link {
      margin: $nav-link-margin-y $nav-link-margin-x;
  }

  .show > .nav-link,
  .nav-link.active {
    color: $navbar-light-active-color;
    border-bottom: 2px solid $navbar-light-active-color;
  }
}

header {
  z-index:1000;
}

.home-hero {
  padding-top: 180px;
  height: 800px;
  background: url(/assets/img/light-bg.png);
  background-size: cover;
}

.home-sub-hero {
  margin-top: -340px;
}

.optimise-bg {
  background: url();
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 80%;
  border-radius: 21px 21px 0 0;
}

.ecommerce-bg {
  background: url();
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 80%;
  border-radius: 21px 21px 0 0;
}

.green-bg {
  background: linear-gradient(225deg, #488F7A 0%, #185450 100%);
}

.lime-bg {
  background: linear-gradient(45deg, #EAF6F1 0%, #FFFFFF 100%);
}

.light-bg {
  background: url(/assets/img/light-bg-25.png);
  background-size: cover;
}

.cta {
  background: url(/assets/img/dark-bg.png);
  background-size: cover;
}

.hero {
  padding-top: 160px;
  padding-bottom: 80px;
  background: url(/assets/img/light-bg.png);
  background-size: cover;
}

footer {
  background: #EAF6F1;
}

footer .nav-link {
  font-size: $nav-link-font-size-footer;
}

.meet {
  max-width: 400px;
}

a.text-white:hover {
  opacity: 0.75;
}

.btn-light:hover {
  background-color:#e0fbf6;
  border-color:#e0fbf6;
}

.trans-overlay {
  background: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .trans-overlay {
    background: transparent;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }