h1, h2, h3, h4, h5, h6 {
  color: #212529;
}

.navbar-brand {
  padding: 0;
}

.home-hero::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
  background: url(/assets/img/light-bg.png) 0 0 no-repeat;
  background-size: cover;
  z-index: 1;
  border-bottom: 1px solid #c1dfcf;
}

main, .home-sub-hero, .home-hero-text {
  position: relative;
  z-index: 9999;
}

.home-hero-text {
  padding-top: 100px;
  margin-bottom: 100px;
}

.optimise-bg {
  background: url(/assets/img/optimisation.svg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
  border-radius: 21px 21px 0 0;
  margin-top: -160px;
}

.ecommerce-bg {
  background: url(/assets/img/basket-blue.svg);
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 327px;
  border-radius: 21px 21px 0 0;
  margin-top: -58px;
  max-width: 490px;
}

.green-bg {
  background: linear-gradient(225deg, #488F7A 0%, #185450 100%);
}

.lime-bg {
  background: linear-gradient(45deg, #EAF6F1 0%, #FFFFFF 100%);
}

.light-bg {
  background: url(/assets/img/light-bg-25.png);
  background-size: cover;
  border-top: 1px solid #c1dfcf;
}

.cta {
  background: url(/assets/img/dark-bg.png);
  background-size: cover;
}

.hero {
  padding-top: 100px;
  padding-bottom: 80px;
  background: url(/assets/img/light-bg.png);
  background-size: cover;
  border-bottom: 1px solid #c1dfcf;
}

footer .nav-link {
  font-size: $nav-link-font-size-footer;
}

.services {
  min-height: 240px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }