---
layout: default
---

<div class="container py-5">
  <div class="row gx-5">
    <div class="col-md-6">
      {%- include contact.html -%}
    </div>
    <div class="col-md-6">
      <div class="post-content">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="ratio ratio-21x9">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57266.84338434202!2d145.85414642279926!3d-41.03143154770258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xaa7bebd9a246315d%3A0xc0d343065fc7f230!2sTRACT!5e0!3m2!1sen!2sau!4v1641967191075!5m2!1sen!2sau" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>