<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="d-flex flex-column vh-100">

    {%- include header.html -%}

    <main>
   
      {% unless page.exclude %}
      {%- include hero.html -%}
      {% endunless %}

      {{ content }}
  
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>

    <script>window.SavvyCal=window.SavvyCal||function(){(SavvyCal.q=SavvyCal.q||[]).push(arguments)};</script>
<script async src="https://embed.savvycal.com/v1/embed.js"></script>
<script>   
  SavvyCal('init', {
    widget: {
      enabled: false,
      prompt: "Meet with Hamish",
      backgroundColor: "#4e71c2",
      textColor: "#ffffff",
      theme: "light",
      link: 'hamish'
    }
  })
</script>
    
  </body>

</html>
