---
layout: default
---

<div class="home-hero">
  <div class="container home-hero-text">
    <div class="col-md-8 offset-md-1">
      <h1 class="display-4 fw-bold"><a class="text-dark text-decoration-none" href="/services/website-design/">Tasmanian
          Website Design and eCommerce Solutions</a></h1>
      <p class="lead fw-normal">Beautiful and simple website design in the North West of Tasmania. Hand-crafted websites
        tailored to your requirements and goals.</p>
    </div>
  </div>
  <div class="home-sub-hero mb-3">
    <div class="container-xxl overflow-hidden">
      <div class="row gx-5">
        <div class="col-md-6">
          <div class="green-bg shadow pt-5 rounded">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <h2 class="display-5 fw-bold mt-4"><a class="text-white text-decoration-none"
                    href="/services/performance-optimisation/">Optimisation</a></h2>
                <p class="lead fw-normal mb-5 pb-4 text-white">Improve your organic search engine ranking by
                  benchmarking
                  Core Web Vitals and increasing performance.</p>
              </div>
            </div>
            <div class="optimise-bg"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="lime-bg shadow pt-5 rounded">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <h2 class="display-5 fw-bold mt-4"><a class="text-dark text-decoration-none"
                    href="/services/ecommerce/">eCommerce</a></h2>
                <p class="lead fw-normal mb-5 pb-4">Partner with Hamish to Sell your products and services online, the
                  best Tasmanian eCommerce developer.</p>
              </div>
            </div>
            <div class="ecommerce-bg mx-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5 mb-3">
  <div class="row justify-content-center">
    <div class="col">
      {{ content }}
    </div>
  </div>
</div>